<li class="id="question-<%= question.id %>">
  <div class="container">
    <div class="row">
      <div class="col-xs-2 col-sm-1 text-center question-list">
      <% if question.solved? %>
        <p class ="status solved">解決済</p>
      <% else %>
        <p class ="status unsolved">受付中</p>
      <% end %>
      <dl class="answer-heading">
        <dt class ="answer-title">回答</dt>
          <dd class="reply-count"><%= question.replies.to_a.count %></dd>
      </dl>
    </div>
      <div class="col-xs-10 col-sm-7 question-list">
        <h2 class="title"> <%= link_to question.title, question %> </h2>
        <%= render question.categories %>
        <ul class="question-bottom text-right">
          <% if question.user %>
          <%= link_to image_tag(question.user.image.url, :size => "20x20"),  question.user %>
          <li class="index-user-name"><%= question.user.name %></li>
          <% end %>
          <li class="index-time"><%= time_ago_in_words(question.created_at) %>前に投稿</li>
        </ul>
      </div>
    </div>
  </div>
</li>
