<p> Questions/new </p>

<%= form_for @question do |f| %>

  <%= f.label :タイトル %>
  <%= f.text_field :title %>

  <%= f.label :質問内容 %>
  <%= f.text_field :content %>

  <%= fields_for :category ,(@categroy) do |category| %>

   <%= category.label :カテゴリー %>
   <%= category.collection_select :id, Category.all, :id, :name %>
   <% end %>

  <%= f.submit("質問を投稿する") %>
<% end %>
