<% set_meta_tags title: full_title('質問投稿画面'), description: '将棋の入門・上達のコツ、オススメの本や戦法について質問できます。また、指し将棋だけでなく、プロ棋士や将棋ソフト、詰将棋についても質問できます。質問をすると素早く回答が返ってきます。上達したい初心者の方にオススメです。' %>
<div class="container">
  <%= form_for @question do |f| %>

  <div class="form-group new-form-title">
    <%= f.label :タイトル %>
    <%= f.text_field :title, class: 'form-control', placeholder: "タイトル：わからないことや聞きたいことを10文字以上で書いてください。"  %>
  </div>

  <div class="form-group">
    <p class="control-label"><b>カテゴリー</b></p>
      <% Category.all.each do |c| %>
        <%= f.check_box :category_ids, { multiple: true, :checked => @categories.present? ? @categories.include?(c) : false, include_hidden: false }, c.id %>
        <%= c.name %>
      <% end %>
  </div>

  <div class="form-group">
    <%= f.label :質問 %>
    <%= f.text_area :content, class: 'form-control content-form',placeholder: "わからないことや聞きたいことの詳細を30~5000文字で書いてください。
具体的な自分の将棋の強さ(初心者、5級、４段等)、どこが聞きたいことなのかを具体的に書くと回答されやすくなります。" %>
  </div>

  <div class="form-group">
    <%= f.label :画像のアップロード %>
    <%= f.file_field :image %>
  </div>

     <%= f.submit "質問する", class: "btn btn-primary" %>
  <% end %>
</div>
