<li class="each-reply">
  <p class= 'best-answer-title'>ベストアンサー</p>
  <div class="reply-content">
    <%= simple_format(reply.content) %>
  </div>
  <ul class="list-inline text-right reply-user">
    <li class="question-time"><%= time_ago_in_words(reply.created_at) %> 前に投稿</li>
    <li class="reply-count"><%= image_tag(reply.user.image.url, :size => "30x30") %></li>
    <li class="user-name"><%= reply.user.name %></li>
  </ul>
<%= render reply.comments %>
<div class="comment-line">
  <span class="comment-post open btn-xs btn-info">コメント投稿</span>
  <% if current_user == @question.user %>
      <%= link_to 'ベストアンサーをはずす', delete_best_answer_path(reply), method: :delete, class: 'best-reply' %>
  <% end %>
</div>
<div class="reply-form">
  <%= form_for(@comment, url: comments_path(reply)) do |f| %>

    <div class="form-group">
      <%= f.text_field :content, class: 'form-control', placeholder: "回答に対するコメントを入力してください。"  %>
    </div>

    <%= f.submit "コメントする", class: "btn btn-primary" %>
  <% end %>
</div>
</li>
