<li class="each-reply">
  <% if reply == @question.best_reply %>
  <p>ベストアンサー</p>
  <% end %>
  <div class="reply-content">
    <%= simple_format(reply.content) %>
  </div>
  <ul class="list-inline text-right">
    <li><%= time_ago_in_words(reply.created_at) %> 前に投稿</li>
    <li class="reply-count"><%= image_tag(reply.user.image, :size => "30x30") %></li>
    <li class="reply-count"><%= reply.user.name %></li>
  </ul>
  <% if current_user == @question.user %>
    <div class="">
    <% if @question.solved? %>
      <%= link_to 'ベストアンサーをはずす', delete_best_answer_path(reply), method: :delete %>
    <% else %>
      <%= link_to 'ベストアンサーにする', select_best_answer_path(reply), method: :post %>
    <% end %>
    </div>
  <% end %>
<%= reply.evaluation %>
<%= render reply.comments %>
<span class="comment-post open">コメント投稿</span>
<div class="reply-form">
  <%= form_for(@comment, url: comments_path(reply)) do |f| %>

    <div class="form-group">
      <%= f.text_field :content, class: 'form-control', placeholder: "回答に対するコメントを入力してください。"  %>
    </div>

    <%= f.submit "コメントする", class: "btn btn-primary" %>
  <% end %>
</div>
</li>
