<div class="container">
  <div class="row profile-edit-form">
    <div class="col-sm-6">
        <%= form_for(@user, url: users_setting_profile_path, method: :post) do |f| %>
        <div class="form-group">
          <%= f.label :名前 %>
          <%= f.text_field :name, class: 'form-control' %>
        </div>

        <div class="form-group">
          <%= f.label :ヒトコト %>
          <%= f.text_area :sentence, class: 'form-control', placeholder: "例) 初心者です。１ヶ月前に将棋始めました。" %>
        </div>
        <div class="form-group">
          <%= f.label :プロフィール画像の変更 %>
          <%= f.file_field :image %>
        </div>

          <%= f.submit "プロフィールを更新する", class: "btn btn-primary" %>
        <% end %>

      </div>

    </div>

  </div>
</div>
