<h2 class="devise-heading">パスワード再設定リクエストを送る</h2>
<div class="row">
  <div class="col-sm-4">
    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
      <%= devise_error_messages! %>
      <div class="form-group">
        <%= f.label :メールアドレス %><br />
        <%= f.email_field :email, autofocus: true, class: 'form-control' %>
      </div>
      <div class="actions">
        <%= f.submit "送信する", class: "btn-lg btn-primary center-block login-btn" %>
      </div>
    <% end %>
  </div>
</div>
