<% set_meta_tags title: full_title('新規会員登録'), description: '将棋アスクに無料会員登録すると、将棋アスクのサービスがさらに便利にご利用いただけます。アカウントをお持ちでない方はいますぐ無料で登録しましょう。' %>
<div class="container">
  <h2 class="devise-heading">新規会員登録</h2>
  <div class="row">
    <div class="col-sm-4">
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= devise_error_messages! %>
        <div class="form-group">
          <%= f.label :ユーザー名 %><br />
          <%= f.text_field :name, autocomplete: "off", autofocus: true, class: 'form-control' %>
        </div>
        <div class="form-group">
          <%= f.label :メールアドレス %><br />
          <%= f.email_field :email, class: 'form-control' %>
        </div>
        <div class="form-group">
          <%= f.label :パスワード %><br />
          <%= f.password_field :password, autocomplete: "off", class: 'form-control' %>
        </div>
        <div class="actions">
          <%= f.submit "登録する", class: "btn-lg btn-primary center-block login-btn" %>
        </div>
      <% end %>
      <div class="link-from-devise text-center">
        アカウントをお持ちの方は<%= link_to "こちらからログイン", new_session_path(resource_name) %>
      </div>
    </div>
  </div>
</div>
